
.child-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  border: 1px solid #dbdfdb;
  padding: 20px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
}

#title {
  text-align: center;
}

#form-data input {
  width: 100%;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px solid #e6dfdf;
  text-indent: 8px;
  margin: 10px 0 0px 0;
}