#login-container {
  display: flex;
  flex-direction: column;
  margin: 25% auto;
  padding: 2%;
  width: 50%;
  height: 60%;
  border: 1px solid grey;
}

input {
  padding: 10px 0px;
    margin: 20px 0;
}

#login-button {
  cursor: pointer;
}