.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
}

#card-right-side {
  display: flex;
  flex-direction: column;
}
#add-state-input {
  border: 0;
  padding: 6px 0px;
  margin: 10px 0;
  border-bottom: 1px solid #338133;
  width: 120px;
}

#add-state-button {
   width: 120px;
}

.state-card {
  display: flex;
  height: 130px;
  border: 1px solid #338133;
  width: 26%;
  border-radius: 4px;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  color: #338133;
  font-weight: bold;
}

#card-number {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #338133;
  padding-top: 4px;
}